/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* .container {
  background: #FF6067;
  height: 100px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
 */

.blacksection {
  background: #282828;
  height: 35px;
}

.header {
  color: white;
  background: #FF6067;
  height: 100px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  
}
.site-title {
  font-size: 62px;
  color: white;
  padding: 20px;
  font-family: Comic Sans MS; 
  font-weight: 400;
}
.site-tagline {
  font-size: 20px;
  font-style: italic;

  width: 25%;
  font-family: Comic Sans MS; 
  font-weight: 400;

}
.buttonsContainer {
  background: #F7EE1A;
  height: 35px;
  text-align: center;
  color: #1A577F;

  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#button1 {
  font-size: 14px;
  font-family: Comic Sans MS; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color:#1A577F;
  background-color: #F7EE1A;
}

#button1:hover {
  color: #1A577F;
  border-color: #1A577F;
  background-color: #F7EE1A;
}

#button2 {
  font-size: 14px;
  font-family: Comic Sans MS; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #1A577F;
  background-color: #F7EE1A;
}
#button2:hover {
  color: #1A577F;
  border-color: #1A577F;
  background-color: #F7EE1A;
}

.objectivesContainer {
  background: #D7F7FE;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.wordsContainer{
  font-size: 30px;
  font-family: Comic Sans MS; 
  background: #b1dbf0;
  color: #1A577F;
  width: 75%;
  height: 300px;
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
}

.footerContainer {
  background:  #282828;
  height: 75px;
}




