/* Reseting css start */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Resetting css end  */

/* index.html css start  */

.header {
  color: white;
  background: #FF6067;
  height: 100px;

}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.site-title {
  font-size: 62px;
  color: white;
  padding: 20px;
  font-family: Comic Sans MS; 
  font-weight: 400;
}
.site-tagline {
  font-size: 20px;
  font-style: italic;

  width: 25%;
  font-family: Comic Sans MS; 
  font-weight: 400;

}
.buttonsContainer {
  background: #F7EE1A;
  height: 35px;
  text-align: center;
  color: #1A577F;

  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
#button1 {
  font-size: 14px;
  font-family: Comic Sans MS; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color:#1A577F;
  background-color: #F7EE1A;
}
#button1:hover {
  color: #1A577F;
  border-color: #1A577F;
  background-color: #F7EE1A;
}
#button2 {
  font-size: 14px;
  font-family: Comic Sans MS; 
  display: inline-block;
  text-align: center;
  text-decoration: none;
  margin: 2px 0;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 0.5em 1em;
  color: #1A577F;
  background-color: #F7EE1A;
}
#button2:hover {
  color: #1A577F;
  border-color: #1A577F;
  background-color: #F7EE1A;
}
.objectivesContainer {
  background: #D7F7FE;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.wordsContainer {
  font-size: 30px;
  font-family: Comic Sans MS; 
  background: #b1dbf0;
  color: #1A577F;
  width: 75%;
  height: 300px;
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
}
.firstrow {
  display: flex;
  justify-content: center;

}
.secondrow {
  display: flex;
  justify-content: center;
}
.thirdrow {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 10px;
}
.tagline {
  display: flex;
  justify-content: center;
  background: #D7F7FE;
}
.taglineWords {
  position: relative;
  bottom: 65px;
  font-weight: bold;
  color: #1A577F;
  background: #D7F7FE;
  font-size: 40px;
  font-family: Comic Sans MS; 
}
.footer {
background: #282828;
height: 65px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}
.footerContainer {
  font-size: 15px;
  width:75%;
  height: 40px;
  font-family: Comic Sans MS; 
  color: white;
  background: grey;
  display: flex;
  justify-content: center; 
} 

/* index.html css end */

/* toLocalStorage.html css start */

.blacksection {
  background: #282828;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.smallYellow {
  background: #F7EE1A;
  height: 20px;
}
.formContainer {
  background: #D7F7FE;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
}
.tag {
  margin-top: 10px;
  font-size: 30px;
  color: white;
  padding: 20px;
  font-family: Comic Sans MS; 
  font-weight: 400;
}
.explanationContainer {
  background: #D7F7FE;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.explanation {
  margin-top: 80px;
  height: 90px;
  width: 75%;
  background: #b1dbf0;
  color: #1A577F;
  font-size: 20px;
  font-family: Comic Sans MS; 
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
}
.first{
  margin-top: 10px; 
  display: flex;
  justify-content: center;
}
.second {
  display: flex;
  justify-content: center;
}
.third {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding: 10px;
}
.inputs{
  margin-top: 100px;
  height: 100px;
  width: 50%;
  background: #b1dbf0;
  color: #1A577F;
  font-size: 20px;
  font-family: Comic Sans MS; 
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
}
#keyInput {
  height: 30px;
  width: 200px;
  background: white;
  font-size: 15px;
  font-family: Comic Sans MS; 
  margin-top: 30px;
  margin-left: 150px;
}
#valueInput {
  height: 30px;
  width: 200px;
  background: white;
  font-size: 15px;
  font-family: Comic Sans MS; 
}
.buttons2 {
  height: 60px;
  background: #D7F7FE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
}
#createButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#1A577F;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#createButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b1dbf0), color-stop(1, #b1dbf0));
	background:-moz-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-webkit-linear-gradient(top, ##b1dbf0 5%, #b1dbf0 100%);
	background:-o-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-ms-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:linear-gradient(to bottom, #b1dbf0 5%, ##b1dbf0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
#createButton:active {
	position:relative;
	top:1px;
} 
#deleteButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#1A577F;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#deleteButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b1dbf0), color-stop(1, #b1dbf0));
	background:-moz-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-webkit-linear-gradient(top, ##b1dbf0 5%, #b1dbf0 100%);
	background:-o-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-ms-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:linear-gradient(to bottom, #b1dbf0 5%, ##b1dbf0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
#deleteButton:active {
	position:relative;
	top:1px;
} 
#clearButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#1A577F;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#clearButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b1dbf0), color-stop(1, #b1dbf0));
	background:-moz-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-webkit-linear-gradient(top, ##b1dbf0 5%, #b1dbf0 100%);
	background:-o-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-ms-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:linear-gradient(to bottom, #b1dbf0 5%, ##b1dbf0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
#clearButton:active {
	position:relative;
	top:1px;
} 
#updateButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#1A577F;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
#updateButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b1dbf0), color-stop(1, #b1dbf0));
	background:-moz-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-webkit-linear-gradient(top, ##b1dbf0 5%, #b1dbf0 100%);
	background:-o-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-ms-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:linear-gradient(to bottom, #b1dbf0 5%, ##b1dbf0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
#updateButton:active {
	position:relative;
	top:1px;
} 
#homeButton {
  margin-left: 30px;
	-moz-box-shadow: 3px 4px 0px 0px #969190;
	-webkit-box-shadow: 3px 4px 0px 0px #969190;
	box-shadow: 3px 4px 0px 0px #969190;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f2f2f2 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f2f2f2 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#ffffff',GradientType=0);
	background-color:#f2f2f2;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #d1d1d1;
	display:inline-block;
	cursor:pointer;
	color:#282828;;
	font-family:Arial;
	font-size:15px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #282828;;
}
#homeButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f2f2f2));
	background:-moz-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f2f2f2 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f2f2f2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0);
	background-color:#ffffff;
}
#homeButton:active {
	position:relative;
	top:1px;
}

/* toLocalStorage.html css finish */
      
/* toSelectInterests.html css start */

.buttonClass{
  background: #D7F7FE;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; 
}
.searchBarContainer {
  background: #D7F7FE;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
}
.searchBar {
  margin-top: 100px;
  height: 200px;
  width: 75%;
  background: #b1dbf0;
  color: #1A577F;
  font-size: 20px;
  font-family: Comic Sans MS; 
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
  border:2px solid #1A577F;
}
.display {
  margin-top: 10px;
  padding: 30px;
}
::selection {
  background:#FFFFCC; 
}
::-moz-selection {
  background:#FFFFCC;
}
select option:hover,
select option:focus,
select option:active {
  background: linear-gradient(#1A577F;, #1A577F;);
  background-color: #1A577F; 
  color: white;
}
select option:checked {
  background: linear-gradient(#1A577F, #1A577F);
  background-color: #1A577F;
  color: white; 
}  
select:active, select:hover {
  outline-color: #1A577F
}
#enter {
	-moz-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#1A577F;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #528ecc;
  margin-top: -85px;
}
#enter:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b1dbf0), color-stop(1, #b1dbf0));
	background:-moz-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-webkit-linear-gradient(top, ##b1dbf0 5%, #b1dbf0 100%);
	background:-o-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:-ms-linear-gradient(top, #b1dbf0 5%, #b1dbf0 100%);
	background:linear-gradient(to bottom, #b1dbf0 5%, ##b1dbf0 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
	background-color:#378de5;
}
#enter:active {
	position:relative;
	top:1px;
} 

/* toSelectInterests.html css finish */

#cars, #yoga,#sing,#readWrite,#dance,#watchtv,#sports,#playVideoGames,#spendTimeWithFamily,#goDancing,#art,#jobRelatedActivities,#travel,#outdoorActivities,#volunteerWork,#puzzles
{
	background-color:#1A577F;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.resultsCont {
  background: #D7F7FE;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row; 
}
.results{
  margin-top: 40px;
  height: 400px;
  width: 75%;
  background: #b1dbf0;
  color: #1A577F;
  font-size: 20px;
  font-family: Comic Sans MS; 
  border-bottom: 5px solid #F7EE1A;
  margin-bottom: 2.1875em;
  border:2px solid #1A577F;
}
.madewithloveB {
  background: #282828;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
  .madewithloveS {
    font-size: 15px;
    width:25%;
    height: 20px;
    font-family: Comic Sans MS; 
    color: white;
    background: grey;
    display: flex;
    justify-content: center; 
  } 
  
  /* end of document*/